// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$btn-border-radius: 4px;
$input-top-spacing: 9px !default;
$btn-text-transform: 'capitalize';
$card-border-radius: 15px;
$sheet-border-radius: 15px 15px 0px 0px;
